<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Trips</title>
    <style>
        div
        {
            display: inline-flex;
        }
    </style>
</head>
<body>
<h1>List of Trips</h1>
<ul>
    <li th:each="trip : ${trips}">
        <span th:text="${trip.fromLocation + ' - ' + trip.toLocation}"></span>
        <div>
        <form method="GET" th:action="${'/trip/' + trip.id + '/edit'}">
            <button type="submit">Edit</button>
        </form>
        <form method="POST" th:action="${'/trip/' + trip.id + '/delete'}" class="delete-form">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">Delete</button>
        </form>
        </div>
    </li>
</ul>
</body>
</html>
